{%- assign product_form_id = 'product-form-' | append: section.id -%}

<div class="col-md-3">
    <div class="featured-product-col">
        <div class="featured-product-img">
            <img loading="lazy" alt="{{ card_product.title }}" src="{{ card_product.featured_image |  img_url: 'master' }}">
            <span class="sale-product"><img loading="lazy" alt="sale-badge" src="{{ 'sale-product.png' | asset_img_url: 'master' }}"></span>
    
        </div>
        <div class="featured-product-content">
            <h5> {{ card_product.title }} </h5>
            <span> {{ card_product.metafields.descriptors.subtitle }} </span>
            <form method="post" action="/cart/add" id="{{ product_form_id }}">
              <input type="hidden" name="id" value="{{ card_product.selected_or_first_available_variant.id }}">
                <div class="input-price-row">
                    <div class="radio-container">
                        <label>
                            <input type="radio" checked="checked" name="radio">
                            Mint (5A)
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="fearured-price">
                        <h6 class="del-price">$24.99</h6>
                        <h6 class="discount-price">$22.99</h6>
                    </div>
                </div>
                <div class="input-price-row">
                    <div class="radio-container">
                        <label>
                            <input type="radio" name="radio">
                            Near Mint (4A)
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="fearured-price">
                        <h6 class="del-price">$19.99</h6>
                        <h6 class="discount-price">$15.99</h6>
                    </div>
                </div>
                <div class="input-price-row">
                    <div class="radio-container">
                        <label>
                            <input type="radio" name="radio">
                            Good (3A)
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="fearured-price">
                        <h6 class="del-price">$17.99</h6>
                        <h6 class="discount-price">$14.99</h6>
                    </div>
                </div>
                <div class="count-add-to-cart">
                  
                    <input type="number" id="Quantity-{{ section.id }}" name="quantity" form="{{ product_form_id }}" min="1" value="1">
                    <button type="submit" id="{{ product_form_id }}-submit" class="custom-site-btn">
                        ADD TO CART
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

