
{%- assign current_variant = card_product.selected_or_first_available_variant -%}

{% unless template contains 'collection' or template contains 'search' %}
<div class="col-md-3">
  {% endunless %}
    <div class="featured-product-col">
        <div class="featured-product-img">
            <a href="{{ card_product.url | within : collection }}"> <img loading="lazy" alt="{{ card_product.title }}" src="{{ card_product.featured_image |  img_url: 'master' }}"> </a>
          	{% if card_product.compare_at_price > card_product.price and card_product.available %}
            <span class="sale-product" {{ card_product.price }}><img loading="lazy" alt="sale-badge" src="{{ 'sale-product.png' | asset_img_url: 'master' }}"></span>
          	{% endif %}
    		
        </div>
        <div class="featured-product-content">
             <h5> <a href="{{ card_product.url }}"> {{ card_product.title }} </a> </h5>
            <span> {{ card_product.metafields.descriptors.subtitle }} </span>     

            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="{{ card_product.variants.first.id }}" />
            
             {% unless template contains 'cart' %}  
            {%- for option in card_product.options_with_values -%}
              {%- for value in option.values limit:3 -%}

             
                
                {% if card_product.variants[forloop.index0].inventory_quantity > 0  %}
                <div class="input-price-row">
                    <div class="radio-container">
                        <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}-{{ current_variant.id }}">
                            <input type="radio"
                                   {% if forloop.first %}checked="checked"{% endif %}
                                   name="radio" 
                                   id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}-{{ current_variant.id }}" 
                                   name="{{ option.name }}"
                                   value="{{ value | escape }}"
                                   data-inventory="{{ card_product.variants[forloop.index0].inventory_quantity }}"
                                   >
                            {{ value }}
                        </label>
                    </div>
                    <div class="fearured-price">
                        <h6 class="{% if current_variant.compare_at_price > 0 %}del-price{% endif %}"> {{ card_product.variants[forloop.index0].compare_at_price | money }} </h6>
                        <h6 class="discount-price"> {{ card_product.variants[forloop.index0].price | money }} </h6>
                    </div>
                </div>
              {% endif %}
				{%- endfor -%}	

              {%- endfor -%}
    {% endunless %}
              
                <div class="count-add-to-cart">
                    <p class="quantity-error"></p>
                    <input type="number" autocomplete="off" id="quantity" name="quantity" min="1" value="1">
                    <button type="submit" class="custom-site-btn card-submit">
                        ADD TO CART
                    </button>
                </div>
              <div class="product__variants_list">
                <ul class="variants-list">
                  {% for variant in card_product.variants %}
                  <li data-quantity="{{ variant.inventory_quantity }}" class="variants-list-items" data-variantId="{{variant.id }}"  value="{{ variant.id }}"
                      {%- if variant == current_variant %} selected="selected" {%- endif -%}> 
                    {{ variant.title }} {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </form>
      
        </div>
    </div>
    {% unless template contains 'collection' or template contains 'search' %}   
</div>
{% endunless %}
