
{%- assign current_variant = card_product.selected_or_first_available_variant -%}

{% unless template contains 'collection' or template contains 'search' %}
<div class="col-md-3">
  {% endunless %}
    <div class="featured-product-col">
        <div class="featured-product-img">
            <a href="{{ card_product.url | within : collection }}"> <img loading="lazy" alt="{{ card_product.title }}" src="{{ card_product.featured_image |  img_url: 'master' }}"> </a>
          	{% if card_product.compare_at_price > card_product.price and card_product.available %}
            <span class="sale-product" {{ card_product.price }}><img loading="lazy" alt="sale-badge" src="{{ 'sale-product.png' | asset_img_url: 'master' }}"></span>
          	{% endif %}
    		
        </div>
        <div class="featured-product-content">
             <h5> <a href="{{ card_product.url }}"> {{ card_product.title }} </a> </h5>
            <span> {{ card_product.metafields.descriptors.subtitle }} </span>            
            <form method="post" action="/cart/add">
              {%- render 'price', product: card_product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
              <input type="hidden" name="id" data-access-quantity="{{ card_product.variants.first.inventory_quantity }}" value="{{ card_product.variants.first.id }}" />            
                <div class="count-add-to-cart">
                    <p class="quantity-error"></p>
                    <input type="number" autocomplete="off" id="quantity" name="quantity" min="1" value="1">
                    <button type="submit" class="custom-site-btn card-submit-access">
                        ADD TO CART
                    </button>
                </div>
            </form>
        </div>
    </div>
    {% unless template contains 'collection' or template contains 'search' %}   
</div>
{% endunless %}

