
{%- assign current_variant = card_product.selected_or_first_available_variant -%}
<div class="col-md-3">
    <div class="featured-product-col">
        <div class="featured-product-img">
            <img loading="lazy" alt="{{ card_product.title }}" src="{{ card_product.featured_image |  img_url: 'master' }}">
            <span class="sale-product"><img loading="lazy" alt="sale-badge" src="{{ 'sale-product.png' | asset_img_url: 'master' }}"></span>
    
        </div>
        <div class="featured-product-content">
            <h5> {{ card_product.title }} </h5>
            <span> {{ card_product.metafields.descriptors.subtitle }} </span>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="{{ card_product.variants.first.id }}" />
              {%- for option in card_product.options_with_values -%}
              {%- for value in option.values -%}
                <div class="input-price-row">
                    <div class="radio-container">
                        <label>
                            <input type="radio" checked="checked" name="radio">
                            Mint (5A)
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="fearured-price">
                        <h6 class="del-price">$24.99</h6>
                        <h6 class="discount-price">$22.99</h6>
                    </div>
                </div>
				{%- endfor -%}	
              {%- endfor -%}
                <div class="count-add-to-cart">
                    <input type="number" autocomplete="off" id="quantity" name="quantity" min="1" value="1">
                    <button type="submit" class="custom-site-btn">
                        ADD TO CART
                    </button>
                </div>
              <div class="product__variants_list">
                <ul class="variants-list">
                  {% for variant in card_product.variants %}
                  <li class="variants-list-items" {{variant.compare_at_price | money }}  value="{{ variant.id }}"
                      {%- if variant == current_variant %} selected="selected" {%- endif -%}> 
                    {{ variant.title }} {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </form>
        </div>
    </div>
</div>

<style>
  .product__variants_list{
    display : none;
  }
</style>

