
{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign card_product = product -%}
    <div class="featured-product-col">
      <div class="related-item-details">
        <div class="featured-product-img">
            <a href="{{ card_product.url }}"> <img loading="lazy" alt="{{ card_product.title }}" src="{{ card_product.featured_image |  img_url: '60x60' }}"> </a>
        </div>
        <div class="featured-product-content">
             <h5> <a href="{{ card_product.url }}"> {{ card_product.title }} </a> </h5>
            <span> {{ card_product.metafields.descriptors.subtitle }} </span>
        </div>
      </div>
    </div>
