<footer>
    <div class="container">
        <div class="footer-row">
            <div class="footer-logo-col">
                 <a href="{{ routes.root_url }}" class="footer-logo">
                    {% if section.settings.footer_logo != blank %}
                    <img src="{{ section.settings.footer_logo | img_url: 'master'}}" loading="lazy" alt="{{ shop.name }}">
                    {% else %}
                    <span class="h2">{{ shop.name }}</span>
                    {% endif %}
                 </a>
                 
                 {% if section.settings.address != blank %}                    
                 <h6> {{ section.settings.address }}</h6>
                 {% endif %}
                
                 {% if section.settings.phone_no != blank %}                    
                 <a href="tel:{{ section.settings.phone_no }}" class="f-phone-no">{{ section.settings.phone_no }}</a>
                 {% endif %}
            </div>
            <div class="quicks-links">
                <h5>{{ section.settings.menu_1 }}</h5>
                <ul>
                    {% for link in linklists[section.settings.menu_1_links].links %}
                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="quicks-links">
                <h5>{{ section.settings.menu_2 }}</h5>
                <ul>
                    {% for link in linklists[section.settings.menu_2_links].links %}
                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="quicks-links">
                <h5>{{ section.settings.menu_3 }}</h5>
                <ul>
                    {% for link in linklists[section.settings.menu_3_links].links %}
                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="quicks-links">
                {% if settings.social_facebook_link != blank %}
                <h5>LET’S CONNECT<a href="{{ settings.social_facebook_link }}"> <i class="fab fa-facebook-f"></i></a></h5>
                {% endif %}
            </div>
        </div>

        {%- if section.settings.payment_enable -%}
          <div class="footer__payment new">
            <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
            <ul class="list list-payment" role="list">
              {% assign enabled_payment_types = 'visa,master,american_express,paypal,apple_pay,amazon_pay,google_pay' | remove: ' ' | split: ',' %}
                {% for type in enabled_payment_types %}
                <li class="list-payment__item">
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {% else %}
          <ul  class="pay-method"> 
            <li><img src="" /></li>
            <li><img src="" /></li>
            <li><img src="" /></li>
            <li><img src="" /></li>
            <li><img src="" /></li>
            <li><img src="" /></li>
            <li><img src="" /></li>
            <li><img src="" /></li>
            <li><img src="" /></li>
          </ul>
        {%- endif -%}
        <p class="f-copywrite">&copy; {{ 'now' |  date : '%Y' }} All Right Reserved</p>
    </div>
</footer>

{% schema %}
{
    "name": "Footer",
    "settings": 
    [
       {
        "type": "image_picker",
        "id": "footer_logo",
        "label": "Logo"
       },
      {
        "type": "text",
        "id": "address",
        "label": "Address",
        "default": "914  9th Street<br> Lake View, Iowa 51450, USA"
      },
       {
        "type": "text",
        "id": "phone_no",
        "label": "Phone No",
        "default": "800-238-8679"
       },
      {
        "type": "header",
        "content": "Footer Menus"
      },
       {
        "type": "text",
        "id": "menu_1",
        "label": "Heading",
        "default": "EXPLORE"
       },
      {
        "type": "link_list",
        "id": "menu_1_links",
        "label": "Menu"
      },
       {
        "type": "text",
        "id": "menu_2",
        "label": "Heading",
        "default": "SERVICE"
       },
       {
         "type": "link_list",
         "id": "menu_2_links",
         "label": "Menu"
       },
       {
        "type": "text",
        "id": "menu_3",
        "label": "Heading",
        "default": "WHOLESALE"
       },
       {
         "type": "link_list",
         "id": "menu_3_links",
         "label": "Menu"
       },
        {
          "type": "checkbox",
          "id": "payment_enable",
          "default": true,
          "label": "t:sections.footer.settings.payment_enable.label"
        }
    ]
}
{% endschema %}