<section class="home-banner" loading="lazy" style="background-image: url('{{ section.settings.banner_image | img_url : 'master' }}')">
    <div class="container">
        <div class="home-text">
            {% if section.settings.logo_image != blank %}                
                <img src="{{ section.settings.logo_image | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.logo_image.alt }}" class="titleist">
            {% endif %}
            <h4> {{ section.settings.banner_subtitle }} </h4>
            <h1> {{ section.settings.banner_title }} </h1>
            <div class="home-btn">
                {% if section.settings.banner_button_text != blank %}                    
                <a href="{{ section.settings.banner_button_link }}" class="custom-site-btn">
                    {{ section.settings.banner_button_text }}
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% schema %}
{
   "name": "Banner",
  "settings":
  [
       {
        "type": "image_picker",
        "id": "banner_image",
        "label": "Banner Image"
       },
       {
        "type": "image_picker",
        "id": "logo_image",
        "label": "Logo Image"
       },  
         {
          "type": "text",
          "id": "banner_title",
          "label": "Title",
            "default": "MORE SPEED."
         },
         {
          "type": "text",
          "id": "banner_subtitle",
          "label": "Subtitle",
            "default": "MORE PRECISION. MORE CONSISTENCY."
         },
         {
          "type": "text",
          "id": "banner_button_text",
          "label": "Button Text",
            "default": "START SHOPPING"
         },
         {
          "type": "url",
          "id": "banner_button_link",
          "label": "Button Link"
         }
  ],
  "presets":
  [
         {
            "name" : "Banner",
            "category" : "Custom Sections"
         }
  ]
}
{% endschema %}