<section class="newsletter-sec" loading="lazy" style="background-image: url('{{ section.settings.background_image | img_url : 'master' }}');">
    <div class="container">
        <div class="newsletter-content-row">
            <div class="newsletter-title-col">
                <h3> {{ section.settings.heading }} </h3>
                <h5>{{ section.settings.subheading }}</h5>
            </div>
            {% form 'customer' %}
            <div class="newsletter-form_custom">
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="input-field">
                    <input type="text" value="{% if customer %}{{customer.name}}{% else %}{{ form.name }}{% endif %}" placeholder="Name" name="contact[first_name]" id="NewsletterForm--{{ section.id }}">
                </div>
                <div class="input-field">
                    <input type="email" placeholder="Email"
                    id="NewsletterForm--{{ section.id }}"
                    name="contact[email]"                   
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="Newsletter-error--{{ section.id }}"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="Newsletter-success--{{ section.id }}"
                    {% endif %}
                    required>
                </div>
                <div class="input-field-submit">
                    <input type="submit" value="ENROLL">
                </div>            
            </div>
            {%- if form.errors -%}
                  <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
            {%- endif -%}
            {%- if form.posted_successfully? -%}
                <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
              {%- endif -%}
            {% endform %}
        </div>
    </div>
</section>

{% schema %}
{
    "name" : "Newsletter",
    "settings":
    [
        {
            "type": "text",
            "id": "heading",
            "default": "SIGN UP TO GET UPDATES",
            "label": "Heading"
        },
        {
            "type": "text",
            "id": "subheading",
            "default": "Receive discounts and specials",
            "label": "Subheading"
        },
        {
            "type": "image_picker",
            "id": "background_image",
            "label": "Background Image"
        }
    ],
    "presets":
    [
        {
            "name" : "Custom Newsletter",
            "category": "Custom Sections"
        }
    ]
}
{% endschema %}