<header>
<div class="announcment-bar">
  <div class="container">
    <div class="announcment-bar-flex">
      <p>{{ section.settings.promo_text }}</p>
      <div class="header-account">
        <ul>
          <li>

            {%- if shop.customer_accounts_enabled -%}
            <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
              <span class="login-user"> <i class="fas fa-user"></i> LOGIN </span>
              <span class="visually-hidden">
                {%- liquid
                    if customer
                      echo 'customer.account_fallback' | t
                    else
                      echo 'customer.log_in' | t
                    endif
                  -%}
              </span>
            </a>
            {%- endif -%}

          </li>
          <li>             
            <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
              {%- liquid
                if cart == empty
                  render 'icon-cart-empty'
                else
                  render 'icon-cart'
                endif
              -%}
              <span >{{ 'templates.cart.cart' | t }}</span>
              {%- if cart != empty -%}
              <div class="cart-count-bubble">
                {%- if cart.item_count < 100 -%}
                <span aria-hidden="true">{{ cart.item_count }}</span>
                {%- endif -%}
                <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
              </div>
              {%- endif -%}
            </a>

          </li>
          {% if settings.social_facebook_link != blank %}
          <li><a href="{{ settings.social_facebook_link }}"><i class="fab fa-facebook-f"></i></a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="main-header">
  <div class="container">
    <div class="main-header-flex">
      <div class="logo">
        <a href="{{ routes.root_url }}">
          {% if section.settings.logo != blank %}
          <img src="{{section.settings.logo | img_url: 'master'}}" loading="lazy" alt="{{ shop.name }}">
          {% else %}
          <span class="h2">{{ shop.name }}</span>
          {% endif %}
        </a>
      </div>
      <div class="navigation">
        <ul>
          {% for link in linklists[section.settings.main_menu].links %}
          <li class="{% if link.active %}active{% endif %}"><a href="{{ link.url }}">{{ link.title }}</a>
            {% if link.links != blank %}
              <ul>
              {% for childlink in link.links %}
                 <li> <a href="{{ childlink.url }}"> {{ childlink.title }} </a>

                   {% if childlink.links != blank %}
                     <ul>
                      {% for grandchild in childlink.links %}
                        <a href="{{ grandchild.url }}"> {{ grandchild.title }} </a>
                      {% endfor %}
                     </ul>
                    {% endif %}
                 </li>                               
              {% endfor %}
              </ul>
            {% endif %}
            
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="search-container">
        <form role="search" action="{{ routes.search_url }}">
          <div class="input-search">
            <input type="search" name="q" value="{{ search.terms }}" placeholder="Search">
            <button type="submit"><i class="fas fa-search"></i></button>
          </div>
        </form>
        <div class="menu-bar">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>

  </div>
</div>
</header>


<div class="submenu-main">
              <div class="submenu-toggle-click">
                <h5>Titelist 
                  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                    </path>
                  </svg>
                </h5>
                <ul class="sub-menu">
                  <li><a href="#">Pro V1</a></li>
                  <li><a href="#">Pro V1x</a></li>
                  <li><a href="#">AVX</a></li>
                  <li><a href="#">Velocity</a></li>
                  <li><a href="#">View All</a></li>
                </ul>
              </div>
              <div class="submenu-toggle-click">
                <h5>Bridgestone 
                  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                    </path>
                  </svg>
                </h5>
                <ul class="sub-menu">
                  <li><a href="#">Tour BX</a></li>
                  <li><a href="#">Tour B XS</a></li>
                  <li><a href="#">Tour B RX</a></li>
                  <li><a href="#">Tour B RXS</a></li>
                  <li><a href="#">e6</a></li>
                  <li><a href="#">e6</a></li>
                  <li><a href="#">View All</a></li>
                </ul>
              </div>
               <div class="submenu-toggle-click">
                <h5>Callaway 
                  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                    </path>
                  </svg>
                </h5>
                <ul class="sub-menu">
                  <li><a href="#">Chrome Soft</a></li>
                  <li><a href="#">Chrome Soft X</a></li>
                  <li><a href="#">Supersoft</a></li>
                  <li><a href="#">View All</a></li>
                </ul>
              </div>
            </div>

{% schema %}
  {
    "name": "Header",
    "settings": 
    [
        {
            "type": "header",
            "content": "Top Header"
        },
       {
        "type": "text",
        "id": "promo_text",
        "label": "Promo Text",
        "default": "Free shipping on eligible items over $89"
       },
        {
          "type": "header",
          "content": "Main Header"
        },
       {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
       },
      {
        "type": "link_list",
        "id": "main_menu",
        "label": "Main Menu"
      }

    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}